body, div, h1, h2, h3, h4, h5, h6, p, ul, img {margin:0px; padding:0px; }

body {background: #151e25}
.container {
    width: 800px;
    margin: 0 auto; 
}
#main .container {
    background: url(https://i.imgur.com/86tSa8T.jpeg) no-repeat; 
}

#logo {
 #logo h1 {
    text-indent: -9999px; 
}
    background: url(https://i.imgur.com/yY5ctGp.png) no-repeat;
     height:170px;
     width: 350px; 
}





