 '
body, div, h1, h2, h3, h4, h5, h6, p, ul, img {margin:0px; padding:0px; }

body {background: #151e25}
.container {
    width: 800px;
    margin: 0 auto; 
}

#main {
    background: url(https://i.imgur.com/pbafp9p.png) repeat-x; 
}
#main .container {
    background: url(https://i.imgur.com/pbafp9p.png) no-repeat; 
}



